<div class="columns">
  <div class="column">
    <h1 class="title has-text-centered"> Alpha Bloggers </h1>
  </div>
</div>
<div align="center">
  <%= will_paginate %>
</div>
<div class="columns">
  <div class="column">

    <%= @users.each do |user| %>
    <ul class = "is-flex is-horizontal-center"> 
        <li> <%= link_to gravatar_for(user), user_path(user) %>  </li>
        <li> <%= link_to user.username, user_path(user) %> </li>
        <li> <%= pluralize(user.articles.count, "article") if user.articles %> </li>
    
    </ul>
    <% end %>
  </div>
 </div>