<h1 class="title">Create New Category</h1>

<div class="section">

<% if @category.errors.any? %>
<div class="notification is-danger">
<button class="delete"></button>
<h2 class="title">The following errors prevented the article from getting created</h2>

<ul>

<% @category.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

<% end %>

  <%= form_for @category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit class: 'button'%>
  <% end %>
  <%= link_to "Cancel and return to Index", articles_path %>

